@import url(https://fonts.google.com/specimen/Bai+Jamjuree);
:root{
    --strong-cyan:  hsl(171, 66%, 44%);
    --light-blue:  hsl(233, 100%, 69%);
    --dark-grayish-blue: hsl(210, 10%, 33%);
    --grayish-blue: hsl(201, 11%, 66%);
}

html,body{
    margin: 0;
    font-size: 18px;
    font-style: "Bai Jamjuree",sans-serif;
    font-weight: 400;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

/* font sizes */
.fw-600{
    font-weight: 600;
}

/* images */


.bac-img{
    position: absolute;
    width: 100%;
}
/* flex */

.flex{
    display: flex;
    display: block;
}

/* intro */
.intro{
    position: relative;
    z-index: 1;    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.intro-heading{
    font-size: 2rem;
    color:  var(--dark-grayish-blue);
    
}

.intro-bac{
    color: var(--grayish-blue);
    font-size: 350;
}

/* widths */
.w-500px{
    max-width: 500px;
}
/* buttons */
.ios-btn{
    display: inline-block;
    padding: .6rem 3.5rem;
    border-radius: 25px;
    background-color: var(--strong-cyan);
    color: white;
    box-shadow: 0 3px 10px 1px var(--grayish-blue);
}

.mac-btn{
    margin: .5rem;
    display: inline-block;
    padding: .6rem 3.5rem;
    border-radius: 25px;
    background-color: var(--light-blue);
    color: white;
    box-shadow: 0 3px 10px 1px var(--grayish-blue);
}

.buttons{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 320;
    margin: 1.5rem 0 5rem 0;
}

/* feature */
.features{
    display: flex;
}

.main-intro{
    color: var(--dark-grayish-blue);
    text-align: center;
    font-size: 1.5rem;
    margin: 1rem 0;
}

.point-intro{
    color: var(--dark-grayish-blue);
    margin: 1rem 0;
    font-size: 1.3rem;
}

.main-bac{
    color: var(--grayish-blue);
    text-align: center;
    margin: 2.5% 25%;
}

.point-bac{
    color: var(--grayish-blue);
    margin-right: 45%;  
}  

.point-image{
    position: relative;
    left: 0;
    width: 41%;
    display: block;
    margin-right: 10%;
    margin-left: -.9rem;
}

.feature-image{
    width: 35%;
    display: block;
}
/* icons */
.preview-icon {
    display: flex;
    justify-content: center;
    padding: 4rem 0;
    margin: auto;
    width: 30%;
    max-width: 120px;
}

/* media query */
@media (min-width: 50rem){
    .buttons{
        flex-direction: row;
        justify-content: center;
    }
    
}
@media (max-width: 50rem){
.features{
    flex-direction: column;
}
.point-image{
    margin: 0 auto;
    width: 50%
    }
}